@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 13% 94%;
    --foreground: 233 40% 20%;
    --card: 0 0% 100%;
    --card-foreground: 233 40% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 233 40% 20%;
    --primary: 233 62% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 232 40% 90%;
    --secondary-foreground: 233 62% 29%;
    --muted: 232 20% 88%;
    --muted-foreground: 233 20% 40%;
    --accent: 232 40% 85%;
    --accent-foreground: 233 62% 29%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 20% 80%;
    --input: 232 20% 80%;
    --ring: 233 62% 29%;
    --chart-1: 233 62% 29%;
    --chart-2: 232 40% 85%;
    --chart-3: 233 40% 50%;
    --chart-4: 232 20% 60%;
    --chart-5: 233 30% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 233 30% 12%;
    --foreground: 200 13% 94%;
    --card: 233 30% 18%;
    --card-foreground: 200 13% 94%;
    --popover: 233 30% 12%;
    --popover-foreground: 200 13% 94%;
    --primary: 200 13% 94%;
    --primary-foreground: 233 62% 29%;
    --secondary: 232 40% 30%;
    --secondary-foreground: 200 13% 94%;
    --muted: 232 40% 30%;
    --muted-foreground: 200 13% 70%;
    --accent: 232 40% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 40% 30%;
    --input: 232 40% 30%;
    --ring: 232 40% 85%;
    --chart-1: 200 13% 94%;
    --chart-2: 232 40% 45%;
    --chart-3: 200 13% 70%;
    --chart-4: 232 40% 60%;
    --chart-5: 232 40% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
